@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'twayair', sans-serif;
}

.App {
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  padding: 20px;
  color: #29b6f6;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  /* background-color: black; */
}

ul {
  position: relative;
  list-style: none;
  display: flex;
  color: white;
  font-size: 30px;
}

#logo {
  width: 50px;
  margin-left: 50px;
}

.login {
  margin-right: 50px;
  background-color: #81d4fa;
  color: white;
  border-radius: 8px;
  border: none;
  width: 100px;
  height: 45px;
}

.hero {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 20%;
}

img + span {
  position: absolute;
  top: 40%;
  left: 10%;
}

.text {
  font-size: 25px;
}

.intro {
  position: absolute;
  top: 45%;
  left: 10%;
  background-color: #81d4fa;
  color: white;
  border-radius: 8px;
  border: none;
  width: 200px;
  height: 40px;
  font-size: 20px;
}

h3 {
  color: #448aff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.list {
  width: 90%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #81d4fa;
  border-radius: 10px;
  margin: 5px 20px;
}

.box {
  display: flex;
  align-items: center;
  height: 70vh;
  justify-content: center;
  flex-direction: column;
}

.modal {
  width: 90%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #81d4fa;
  border-radius: 10px;
  margin: 5px 20px;
}

.click {
  display: flex;
  justify-content: center;
}

.cursor {
  width: 45px;
}

.qnaInput {
  height: 45px;
  width: 300px;
  margin: 0 10px;
  border: none;
  background-color: #e8eaf6;
  border-radius: 7px;
}
